/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2016, 9:10:21 AM
    Author     : eduarc
*/
.sidebar .navbar-nav .active a {
    color : #d1e9f5;
    background-color: #275c7c;
}
.sidebar .navbar-nav .active a:hover {
    color : #d1e9f5;
    background-color: #275c7c;
}
.sidebar .navbar-nav li a:hover {
    color : #275c7c;
    background-color: #d1e9f5;
}
.sidebar .navbar-nav li {
    display: block;
    width: 100%;
    //border-bottom: 1px solid #e7e7e7;
}
.sidebar .navbar-nav li a {
    padding: 10px
}
.sidebar .navbar-nav li a .glyphicon {
    padding-right: 5px;
}
.sidebar #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.sidebar #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.sidebar #dropdown .indicator {
    float: right;
}
.sidebar #dropdown > a {
    //border-bottom: 1px solid #e7e7e7;
}
.sidebar #dropdown .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.sidebar #dropdown .panel-body .navbar-nav {
    width: 100%;
}
.sidebar #dropdown .panel-body .navbar-nav li {
    padding-left: 5px;
}
.sidebar .navbar-brand {
    display: block;
}
.side-body {
    background-color : #f8f8f8; 
    padding-bottom : 20px;
    margin-bottom: 10px;
}
.side-body h1 {
    padding-top : 0px;
    margin-top : 12px;
    margin-bottom : 20px;
    border-bottom: 5px solid #e7e7e7;
}